                             <div class="InnerbottomContent">
                                  <div class="bottomSec">
                                       <h4>You want to know about sharemyvision.com</h4>
                                       <p>Capture your vision whenever you see using your mobile phones. Share your vision instantly to many socialized outlets like Email, FaceBook, Twitter, etc. from your mobile phones or our website.  Organize and store your captured vision for life on our website.</p>
                                       <p>A starting account is free for everyone with an Android phone. Iphone support will come soon!!!</p>
                                       <div class="clear"></div>
                                  </div>
                             </div>
