
<%= link_to("Events", :controller=>:item, :action=>:event) %>
  <div class="navdivider"></div>
<%= link_to("My Vision", :controller=>:user, :action=>:my_account) %>
  <div class="navdivider"></div>
<%= link_to("Contact Us", :controller=>:item) %>