<html>
<head>
<title>Upload Notification To ShareMyVision</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#66CC00'>

<STYLE>
.headerTop {
    background-color: #66CC00;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #FFCC66;
    text-align: right;
}

.adminText {
    font-size: 10px;
    color: #FFFFCC;
    line-height: 200%;
    font-family: verdana;
    text-decoration: none;
}

.headerBar {
    background-color: #FFFFFF;
    border-top: 0px solid #FFFFFF;
    border-bottom: 0px solid #333333;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: #336600;
    font-family: arial;
    line-height: 110%;
}

.subTitle {
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    font-style: italic;
    font-family: arial;
}

td {
    font-size: 12px;
    color: #000000;
    line-height: 150%;
    font-family: trebuchet ms;
}

.footerRow {
    background-color: #FFFFCC;
    border-top: 10px solid #FFFFFF;
}

.footerText {
    font-size: 10px;
    color: #333333;
    line-height: 100%;
    font-family: verdana;
}

a {
    color: #FF0000;
    color: #FF6600;
    color: #FF6600;
}
</STYLE>
<table width="100%" cellpadding="10" cellspacing="0"  class="backgroundTable" bgcolor='#66CC00'>
    <tr>
        <td valign="top" align="left">        
        <table width="550" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
            <tr>
                <td style="background-color: #FFFFFF; border-top: 0px solid #FFFFFF; border-bottom: 0px solid #333333;"><br>
                <center><h2><a href="http://www.sharemyvision.com/web/" style="text-decoration:none;"><span style="font-size: 22px; font-weight: bold; color: #336600; font-family: arial; line-height: 110%;">ShareMyVision</span></a> </h2></center>
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" valign="top" style="font-size: 12px; color: #000000; line-height: 150%; font-family: trebuchet ms;"><br>
                <p><span style="font-size: 22px; font-weight: bold; color: #336600; font-family: arial; line-height: 110%;">Upload Notification To ShareMyVision</span><br><br>
                Dear $name,<br><br>
                <br>
                Please click on the following link to view the photos: <a href="$folderNameLink">Click here</a>.<br>
                If you are unable to click the above link. Please copy the following link and paste it in your browser. $folderNameLink</p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #FFFFCC; border-top: 10px solid #FFFFFF;" valign="top"><span style="font-size: 10px; color: #333333; line-height: 100%; font-family: verdana;">                     
                      <table cellspacing="0" cellpadding="0" border="0">                      
                      <tr>
                         <td><a href="#">Feature Request</a></td>
                         <td>|</td>
                         <td><a href="#">Terms of Usage</a></td>
                         <td>|</td>
                         <td><a href="#">Help</a></td>
                         <td>|</td>
                         <td><a href="#">Jobs</a></td>
                         <td>|</td>
                         <td><a href="#">Contact</a></td>
                         <td>|</td>
                         <td><a href="#">Blog</a></td>
                         <td>|</td>
                         <td><a href="#">About Us</a></td>
                      </tr> 
                     </table>
                     <table cellspacing="0" cellpadding="0" border="0">
                      <tr>
                         <td>&copy; 2010&nbsp;ShareMyVision, Inc. All Rights Reserved.</p></td>
                      </tr>
                      </table>                     
                </span></td>
            </tr>
        </table>
        </td>
    </tr>
</table>
</body>
</html>