                                                         <%  @smv_status[:value].each do |products|%>
                                                              <td valign="top"><table width="100%" border="1">
                                                                 
                                                                 <tr>
                                                                       <td><%=products.id%></td>
                                                                 </tr>   
                                                              
                                                              </table></td> 
                                                          <%end%>